## Import libraries!

### Run this SQL code below to get a SQL table that you will export as a CSV and name trial.csv

In [ ]:
SELECT 
    studies.study_id,
    studies.study_name,
    trials.trial_id,
    trials.number AS trial_number,
    trial_params.param_name,
    trial_params.param_value,
    trial_values.value
FROM 
    trials
INNER JOIN 
    studies ON trials.study_id = studies.study_id
INNER JOIN 
    trial_params ON trials.trial_id = trial_params.trial_id
INNER JOIN 
    trial_values ON trials.trial_id = trial_values.trial_id
WHERE 
    trial_values.value IS NOT NULL
ORDER BY 
    studies.study_id, trials.number;

SyntaxError: invalid syntax (730125038.py, line 5)

In [17]:
import pandas as pd

# pd.set_option('display.max_columns', None)  # Show all columns
# pd.set_option('display.width', 1000)        # Set console width
# pd.set_option('display.max_colwidth', 40)   # Limit the maximum width of each column

## Read from trials csv

In [18]:
trials = pd.read_csv("trials.csv")
trials.describe()

         study_id    trial_id  trial_number  param_value       value
count  249.000000  249.000000    249.000000   249.000000  249.000000
mean     7.963855   29.578313     19.060241     1.506757    0.758201
std      1.735161   14.569733     13.028829     2.425472    0.036191
min      1.000000    1.000000      0.000000     0.000000    0.616541
25%      8.000000   17.000000      7.000000     0.000024    0.758427
50%      8.000000   29.000000     19.000000     0.338193    0.770533
75%      8.000000   43.000000     31.000000     2.000000    0.776144
max     16.000000   54.000000     41.000000    10.000000    0.782084

## Divide Each Unique Study into Its Own DataFrame

In [19]:
# Group the DataFrame by 'study_id' and create a dictionary of DataFrames
grouped = trials.groupby('study_name')
dfs = {study_name: group for study_name, group in grouped}

## Create a Sorted DataFrame for Each Study

In [20]:
# Sort each DataFrame by the 'value' column in descending order
sorted_dfs = {study_name: df.sort_values(by='value', ascending=False) for study_name, df in dfs.items()}
print(sorted_dfs)

{'disaster_2':    study_id  study_name  trial_id  trial_number         param_name  param_value     value
3         2  disaster_2         3             1         batch_size     0.000000  0.767824
4         2  disaster_2         3             1       dropout_rate     0.427225  0.767824
5         2  disaster_2         3             1      learning_rate     0.000011  0.767824
6         2  disaster_2         3             1  lr_scheduler_type     2.000000  0.767824
7         2  disaster_2         3             1         num_epochs     3.000000  0.767824
8         2  disaster_2         3             1       weight_decay     0.086965  0.767824, 'disaster_4':      study_id  study_name  trial_id  trial_number         param_name  param_value     value
214         8  disaster_4        50            37       dropout_rate     0.383773  0.782084
215         8  disaster_4        50            37      learning_rate     0.000002  0.782084
216         8  disaster_4        50            37  lr_scheduler_type     1.000000  0.782084
217         8  disaster_4        50            37         num_epochs     4.000000  0.782084
218         8  disaster_4        50            37       weight_decay     0.014673  0.782084
..        ...         ...       ...           ...                ...          ...       ...
101         8  disaster_4        24            15      learning_rate     0.000001  0.616541
102         8  disaster_4        24            15  lr_scheduler_type     0.000000  0.616541
99          8  disaster_4        24            15         batch_size     0.000000  0.616541
103         8  disaster_4        24            15         num_epochs     5.000000  0.616541
100         8  disaster_4        24            15       dropout_rate     0.475038  0.616541

[234 rows x 7 columns], 'disaster__':      study_id  study_name  trial_id  trial_number         param_name  param_value     value
243        16  disaster__        44             0         batch_size     0.000000  0.769231
244        16  disaster__        44             0       dropout_rate     0.267993  0.769231
245        16  disaster__        44             0      learning_rate     0.000003  0.769231
246        16  disaster__        44             0  lr_scheduler_type     3.000000  0.769231
247        16  disaster__        44             0         num_epochs     2.000000  0.769231
248        16  disaster__        44             0       weight_decay     0.055581  0.769231, 'disaster_third':    study_id      study_name  trial_id  trial_number     param_name  param_value     value
0         1  disaster_third         1             0     batch_size     0.000000  0.742633
1         1  disaster_third         1             0  learning_rate     0.000004  0.742633
2         1  disaster_third         1             0     num_epochs     1.000000  0.742633}

## Create a DataFrame for Best Trials of Each Study

In [21]:
# Initialize a dictionary to hold the DataFrames of best trials for each study
best_trial_dfs = {}

for study_name, df in dfs.items():
    # Sort the trials by their order of execution (trial_number)
    df_sorted_by_trial = df.sort_values(by='trial_number')
    
    # Initialize the best value to a very small number
    best_value = -float('inf')
    
    # List to keep track of rows that were best trials at their time
    best_trials = []
    
    for _, row in df_sorted_by_trial.iterrows():
        if row['value'] > best_value:
            best_value = row['value']
            best_trials.append(row)
    
    # Create a DataFrame from the best trials
    best_trial_dfs[study_name] = pd.DataFrame(best_trials)

In [23]:
study_4_original_df = dfs["disaster_4"]
# study_4_sorted_df = sorted_dfs[3]
# study_4_best_trials_df = best_trial_dfs[3]

study_4_original_df.head()

    study_id  study_name  trial_id  trial_number         param_name  param_value     value
9          8  disaster_4         9             0         batch_size     2.000000  0.753343
10         8  disaster_4         9             0       dropout_rate     0.128035  0.753343
11         8  disaster_4         9             0      learning_rate     0.000007  0.753343
12         8  disaster_4         9             0  lr_scheduler_type     1.000000  0.753343
13         8  disaster_4         9             0         num_epochs     9.000000  0.753343

In [24]:
study_4_sorted_df = sorted_dfs["disaster_4"]

study_4_sorted_df.head(20)

     study_id  study_name  trial_id  trial_number         param_name  param_value     value
214         8  disaster_4        50            37       dropout_rate     0.383773  0.782084
215         8  disaster_4        50            37      learning_rate     0.000002  0.782084
216         8  disaster_4        50            37  lr_scheduler_type     1.000000  0.782084
217         8  disaster_4        50            37         num_epochs     4.000000  0.782084
218         8  disaster_4        50            37       weight_decay     0.014673  0.782084
213         8  disaster_4        50            37         batch_size     0.000000  0.782084
230         8  disaster_4        52            39       weight_decay     0.063086  0.781491
225         8  disaster_4        52            39         batch_size     1.000000  0.781491
226         8  disaster_4        52            39       dropout_rate     0.375922  0.781491
227         8  disaster_4        52            39      learning_rate     0.000006  0.781491
228         8  disaster_4        52            39  lr_scheduler_type     1.000000  0.781491
229         8  disaster_4        52            39         num_epochs     3.000000  0.781491
232         8  disaster_4        53            40       dropout_rate     0.442754  0.780328
231         8  disaster_4        53            40         batch_size     1.000000  0.780328
236         8  disaster_4        53            40       weight_decay     0.078234  0.780328
235         8  disaster_4        53            40         num_epochs     3.000000  0.780328
234         8  disaster_4        53            40  lr_scheduler_type     1.000000  0.780328
233         8  disaster_4        53            40      learning_rate     0.000009  0.780328
146         8  disaster_4        32            23       weight_decay     0.097002  0.780239
144         8  disaster_4        32            23  lr_scheduler_type     2.000000  0.780239

In [25]:
study_4_best_trials_df = best_trial_dfs["disaster_4"]

study_4_best_trials_df.head(20)

     study_id  study_name  trial_id  trial_number    param_name  param_value     value
9           8  disaster_4         9             0    batch_size     2.000000  0.753343
15          8  disaster_4        10             1    batch_size     0.000000  0.766904
38          8  disaster_4        13             4  weight_decay     0.072998  0.777778
145         8  disaster_4        32            23    num_epochs     9.000000  0.780239
218         8  disaster_4        50            37  weight_decay     0.014673  0.782084

In [26]:
import pandas as pd

trials = pd.read_csv("trials.csv")
#trials.describe()

# Group the DataFrame by 'study_id' and create a dictionary of DataFrames
grouped = trials.groupby('study_name')
dfs = {study_name: group for study_name, group in grouped}

# Sort each DataFrame by the 'value' column in descending order
sorted_dfs = {study_name: df.sort_values(by='value', ascending=False) for study_name, df in dfs.items()}

disaster4_sorted = sorted_dfs["disaster_4"]

In [29]:
# Assuming `df` is your original DataFrame
# First, filter out only the relevant columns if there are any extra columns
df_filtered = disaster4_sorted[['study_id', 'study_name', 'trial_id', 'trial_number', 'param_name', 'param_value', 'value']]

# Pivot the table
df_pivoted = df_filtered.pivot_table(index=['study_id', 'study_name', 'trial_id', 'trial_number', 'value'], 
                                     columns='param_name', 
                                     values='param_value',
                                     aggfunc='first').reset_index()

# Renaming the columns for easier access
df_pivoted.columns = ['study_id', 'study_name', 'trial_id', 'trial_number', 'value', 'batch_size', 'dropout_rate', 'learning_rate', 'lr_scheduler_type', 'num_epochs', 'weight_decay']

# Sort the pivoted table by value 
disaster4_final = df_pivoted.sort_values('value', ascending=False)

# Convert the columns to int
disaster4_final['batch_size'] = disaster4_final['batch_size'].astype(int)
disaster4_final['lr_scheduler_type'] = disaster4_final['lr_scheduler_type'].astype(int)
disaster4_final['num_epochs'] = disaster4_final['num_epochs'].astype(int)

disaster4_final.head()

    study_id  study_name  trial_id  trial_number     value  batch_size  dropout_rate  learning_rate  lr_scheduler_type  num_epochs  weight_decay
34         8  disaster_4        50            37  0.782084           0      0.383773       0.000002                  1           4      0.014673
36         8  disaster_4        52            39  0.781491           1      0.375922       0.000006                  1           3      0.063086
37         8  disaster_4        53            40  0.780328           1      0.442754       0.000009                  1           3      0.078234
22         8  disaster_4        32            23  0.780239           2      0.346489       0.000006                  2           9      0.097002
24         8  disaster_4        34            25  0.779541           0      0.332576       0.000003                  2           5      0.028982

:

In [ ]:
# import pandas as pd

# trials = pd.read_csv("trials.csv")
# trials.describe()


# # Group the DataFrame by 'study_id' and create a dictionary of DataFrames
# grouped = trials.groupby('study_name')
# dfs = {study_name: group for study_name, group in grouped}

# # Sort each DataFrame by the 'value' column in descending order
# sorted_dfs = {study_name: df.sort_values(by='value', ascending=True) for study_name, df in dfs.items()} # Make ascending = True if you want the lowest values at the top

# # Initialize a dictionary to hold the DataFrames of best trials for each study
# best_trial_dfs = {}

# for study_name, df in dfs.items():
#     # Sort the trials by their order of execution (trial_number)
#     df_sorted_by_trial = df.sort_values(by='trial_number')
    
#     # Initialize the best value to a very small number
#     best_value = -float('inf')
    
#     # List to keep track of rows that were best trials at their time
#     best_trials = []
    
#     for _, row in df_sorted_by_trial.iterrows():
#         if row['value'] > best_value:
#             best_value = row['value']
#             best_trials.append(row)
    
#     # Create a DataFrame from the best trials
#     best_trial_dfs[study_name] = pd.DataFrame(best_trials)



# study_3_original_df = dfs["distributed_optimization_15"]
# # study_3_sorted_df = sorted_dfs[3]
# # study_3_best_trials_df = best_trial_dfs[3]

# study_3_original_df.head()

# study_3_sorted_df = sorted_dfs["distributed_optimization_15"]

# study_3_sorted_df.head(20)


# study_3_best_trials_df = best_trial_dfs["distributed_optimization_15"]

# study_3_best_trials_df.head(20)